@using ECommerce.Models
@model List<Order>
@{
    ViewData["Title"] = "Store | Orders";
}
@Html.Partial("~/Views/Shared/_Nav.cshtml")
<h1>Orders</h1>
@Html.Partial("_Create", (OrderVM)ViewBag.OrderVM)
@Html.Partial("_List", Model)