@{
    ViewData["Title"] = "Store | Home";
}
@Html.Partial("~/Views/Shared/_Nav.cshtml")
<h1>Home</h1>
<aside>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="text" name="search" placeholder="Filter">
        <input type="submit" value="Go">
    </form>
    <button onclick="location.href='@Url.Action("Index", "Home")'">Reset filter</button>
</aside>
<main>
    @if (ViewBag.search != null) {
        <p>Searching for "@ViewBag.search"</p>
    }
    @await Component.InvokeAsync("RecentEvents", ViewBag.search)
</main>